/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Center content vertically and horizontally */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/img2.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1;
}

header {
    position: relative;
    z-index: 2;
    height: 40vh;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.intro h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.intro h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

nav {
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out ;
}

nav a {
    margin: 0 10px;
    padding: 10px 20px;
    color: #fff; /* Link color */
    text-decoration: none;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
