<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Data Science Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_blog.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!--<h1>Blogs</h1>-->
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="#" class="nav-link active">Blogs</a>
            <a href="/projects">Projects</a>
            <a href="/courses">Courses & Certifications</a>
           
            
        </nav>
    </header>
    <main>
        <section class="blogs-section">
            <h2>Latest Articles</h2>
            <article class="blog-post">
                <h3>Understanding AI and ML: A Beginner’s Guide</h3>
                <p>Published on: January 18, 2025</p>
                <p>In this blog post, I introduce myself and dive into the basics of AI and Machine Learning, explaining key concepts in simple terms. I share my journey as a data scientist and how these technologies are shaping our world, offering advice on how to get started in the field. The post also reflects on the importance of understanding the fundamentals while embracing new advancements in AI.</p>
                <a href="https://medium.com/@shreyaabatra/understanding-ai-and-ml-a-beginners-guide-4d773e74e545" class="btn">Read more</a>
            </article>
            <article class="blog-post">
                <h3>5 Tips for Effective Data Visualization</h3>
                <p>Published on: July 5, 2024</p>
                <p>In this article, we explore five essential tips for creating effective and impactful data visualizations.</p>
                <a href="/blog/2" class="btn">Read more</a>
            </article>
            <!-- Add more articles as needed -->
        </section>
    </main>
    <footer>
        <p>&copy; Shreya Batra</p>
    </footer>
</body>
</html>
