<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses & Certifications - Data Science Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_course.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
       <!-- <h1>Courses and Certifications</h1> -->
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blogs">Blogs</a>
            <a href="/projects">Projects</a>
            <a href="#" class="nav-link active">Courses & Certifications</a>
        </nav>
    </header>
    <main>
        <section class="courses-card">
            <h2>Courses</h2>
            <ul>
                <li><strong>Data Science Specialization</strong> - Coursera<br>Comprehensive program covering data analysis, machine learning, and data visualization.</li>
                <li><strong>Deep Learning Specialization</strong> - Coursera<br>In-depth exploration of neural networks and deep learning techniques.</li>
                <li><strong>Introduction to Artificial Intelligence</strong> - edX<br>An introductory course on AI concepts and applications.</li>
                <!-- Add more courses as needed -->
            </ul>
        </section>
        <section class="certifications-card">
            <h2>Certifications</h2>
            <ul>
                <li><strong>Certified Data Scientist</strong> - Data Science Council of America (DASCA)<br>Certification demonstrating proficiency in data science skills.</li>
                <li><strong>Machine Learning Certification</strong> - Google<br>Certification proving expertise in machine learning techniques and tools.</li>
                <li><strong>Big Data Certification</strong> - Cloudera<br>Certification in handling and analyzing large datasets.</li>
                <!-- Add more certifications as needed -->
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; Shreya Batra</p>
    </footer>
</body>
</html>
