<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Data Science Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="overlay"></div>
        <header>
            <div class="intro">
                <h1>Shreya Batra</h1>
                <h3>Data Scientist</h3>
            </div>
            <nav>
                <a href="/about">About Me</a>
                <a href="/blogs">Blogs</a>
                <a href="/projects">Projects</a>
                <a href="/courses">Courses & Certifications</a>
            </nav>
        </header>
    </div>
  
    <footer>
        <p>&copy; Shreya Batra</p>
    </footer>
</body>
</html>
